.container{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow:2px 3px 0px rgba(255, 100, 250, .5);
    border-radius: 5px;
}
.items{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    width: 20%;
    }
.link{
    text-decoration: none;

}
.icono{
    margin-right: 5px;
    margin-left: 10px;
}